h1{
    text-align: center;
}

img{
    height: 300px;

}

h2{
    margin-left: 20px;
}

.row{
    margin-left: 20px;
}

footer{
    text-align: center;
    background-color: rgb(32, 32, 32);
    padding: 0px;
    color: rgba(255, 255, 255, 0.438);
    height: 125px;
}